<!DOCTYPE html>
<html>
<head>
<section>
    <div class="form-box">
    <div class="form-value">
    <title>Register</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<body>
    <h2>Register</h2>
    <form method="POST">
    <div class="inputbox">
       <input type="text" name="username" required><br>
       <label for="">Username</label>
    </div>
       <div class="inputbox">
       <input type="email" name="email" required><br>
       <label for="">Email</label>
    </div>
       <div class="inputbox">
       <input type="password" name="password" required><br>
       <label for="">Password</label>
    </div>
       <button type="submit">Register</button>
       <div class="register">
         <p>Sudah punya akun? <a href="login">Login</a></p>
         </div>
       </div>
    </form>
</body>
</html>